<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="de.jeisfeld.breathtraining.Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BreathTraining">
        <activity
            android:name="de.jeisfeld.breathtraining.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.BreathTraining.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="de.jeisfeld.breathtraining.exercise.service.ExerciseService"
            android:enabled="true"
            android:exported="false"
            android:process=":de.jeisfeld.breathtraining.ExerciseService"
            android:foregroundServiceType="mediaPlayback" />

        <receiver
            android:name="de.jeisfeld.breathtraining.exercise.service.ServiceReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.jeisfeld.breathtraining.SERVICE_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="de.jeisfeld.breathtraining.exercise.service.ExerciseService$ServiceQueryReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.jeisfeld.breathtraining.SERVICE_QUERY_RECEIVER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>